.home-title {
  font-size: 30px;
  color: white;
}

.home-title-info {
  padding-top: 25px;
  padding-bottom: 25px;
}

.home-projects-info,
.home-technologies-info {
  padding-top: 25px;
}

.home-technologies-items {
  padding-bottom: 25px;
}

.margin-top {
  margin-top: 34px;
}

.home-contact-info {
  padding-bottom: 25px;
}

.home-info {
  font-size: 22px;
}

.home-project-title {
  font-size: 24px;
}

.home-body {
  font-size: 21px;
  padding-top: 10px;
}

.home-hut {
  color: #f9a826;
}

.home-blabber {
  color: #f50057;
}

.home-tech-item {
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 20px;
  color: white;
  background-color: #3a414b;
  display: inline-block;
}

.github-logo:hover {
  opacity: 0.8;
}

.zoom-in {
  transition: transform 0.2s;
}

.zoom-in:hover {
  transform: scale(1.1);
}
