.nav-items {
  width: 50%;
}

.home-name {
  font-size: 32px;
  color: white;
}

.home-dev {
  font-size: 22px;
}

.nav-item-link {
  font-size: 20px;
}

.homepage-container {
  padding: 0;
  margin: 0;
  padding-top: 15px;
}
